@tailwind base;
@tailwind components;
@tailwind utilities;

.container-height {
  min-height: 500px;
}

.leaflet-container {
  width: 350px;
  height: 350px;
}

@media (max-width: 450px) {
  .leaflet-container {
    width: 250px;
    height: 250px;
  }
}
@media (max-width: 350px) {
  .leaflet-container {
    width: 200px;
    height: 250px;
  }
}
